@media (max-width: 500px) {
textarea {
  height: 100px;
  line-height:1.25;
}

}
  textarea {
    background-color: #000000;
    border: 1px solid #000000;
 #85C1E9r: #CC0000;
    padding: 8px;
    font-family: courier new;background: url("https://cdn.discordapp.com/attachments/879420212036915247/923264464546045962/Tumblr-Aesthetic-Wallpapers-Free.jpeg");loween_bg.jpg");
	background-size: cover;
	background-position: center
  
}
"
input {
    kground-c#85C#85C1E9
    color: #CC0000;
}

bn {
	bcackground-color:#0000#85C1#85C1E9:pointer;
	color:#CC0000;
	font-family:helvetica;
	font-size:17px;
	padding:7px 8px;
	text-decoration:none;
}
button:active {


	position:relative;
	top:1px;
}